*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow-color: rgba(255, 230, 0, 1);
    --black-color: black;
}

#header{
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.container-dm{
    padding-top: 76px;
}
.container {
    max-width: calc((1300/1688)*100%);
    margin: auto;
}
.container-cart {
    max-width: calc((1000/1688)*100%);
    margin: auto;
}
#header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 76px;
}
.branch{
    display: flex;
    align-items: center;
    font-size: 24px;
}
.branch form select{
    width: 138px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 5px;
}
.branch i{
    color: var(--yellow-color);
    margin-right: 5px;
}
#search{
    width: 338px;
    margin: 0 15px;
}
.logo a img{
    width: 150px;
    height: auto;
}
.search-form {
    display: flex;
    width: 100%;
    margin: 25px 0px;
}
.search-form input {
    width: 85%;
    height: 34px;
    color: black;
    padding: 0 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-style: italic;
}
.search-form button {
    width: 15%;
    height: 34px;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 0 5px 5px 0;
}
.search-form button i{
    font-size: 22px;
    font-weight: bold;
}
.search-form input:focus{
    border: none;
    outline: none;
}
#menu ul{
    display: flex;
}
#menu>ul>li{
    display: flex;
    list-style: none;
    margin: 0 40px;
    align-items: center;
}
#menu>ul>li>a{
    text-decoration: none;
    font-size: 19px;
    color: white;
    margin-left: 5px;
}
#menu ul li i{
    color: var(--yellow-color);
    font-size: 24px;
}
#menu ul li a{
    display: block;
}
.navbar{
    display: none;
    cursor: pointer;
}
.navbar i{
    color: white;
    font-size: 33px;
}
.branch-repon{
    display: flex;
}
.menu-repon i{
    color: var(--yellow-color);
    font-size: 26px;
}
.menu-repon{
    width: 60vw;
    background-color:rgb(30, 30, 30);
    z-index: 999;
    height: 100vh;
    display: none;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    position: absolute;
}
#search-repon{
    margin-top: 20px;
}
.search-form-repon {
    display: flex;
    width: 70%;
    margin: 0 auto;
    /* height: 65vh; */
}
.search-form-repon input {
    width: 85%;
    height: 34px;
    color: black;
    padding: 0 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-style: italic;
}
.search-form-repon button {
    width: 15%;
    height: 34px;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 0 5px 5px 0;
}
.search-form-repon button i{
    font-size: 22px;
    color: var(--black-color);
    font-weight: bold;
}
.search-form-repon input:focus{
    border: none;
    outline: none;
}
.category-repon{
    display: none;
}
.menu-repon ul li:hover .category-repon{
    display: block;
}
.branch-repon{
    max-width: 200px;
    margin: 0 auto;
    padding-top: 20px;
}
.branch-repon form select{
    height: 30px;
    width: 100%;
    border-radius: 20px;
    margin-left: 10px;
    padding-left: 5px;
    margin-bottom: 30px;
}
.menu-repon ul li a{
    display: block;
    margin-left: 20px;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}
.menu-repon ul li{
    display: flex;
    padding: 11px 20px;
    position: relative;
}
.menu-repon ul li a:hover{
    cursor: pointer;
    color: red;
}
.menu-repon ul li a:hover .menu-reponsive ul li i{
    color: red;
}
.category-repon{
    position: absolute;
    top: 101%;
    left: 10%;
}

.close{
    transform: translateX(-100%);
}
.active{
    transform: translateX(0);
}

/* #header{
    position: relative;
} */
#load-menu{
    margin-top: 76px;
    position: fixed;
    display: flex;
    z-index: 999;
}

.silde{
    display: flex;
}
.banner-image{
    z-index: 996;
    max-width: 100%;
    position: relative;
}
.banner-image img{
    width: 100%;
}
#out-menu{
    z-index: 997;
    background-color: aqua;
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
}
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.back{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.back button{
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.next button{
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}
.next button i{
    font-size: 24px;
}
.back button i{
    font-size: 24px;
}

.list-category-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
}
.categry-image{
    width: 17%;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
    margin-top: 30px;
}
.categry-image img{
    width: 100%;
}
.fa-product-sell{
    margin-top: 50px;
    border-radius: 30px;
    background-color: rgba(255, 230, 0, 1);
}
.title-product-sell{
    max-width: 100%;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    background-color: rgba(255, 168, 0, 1);
    border-radius: 30px 30px 0 0;
}
.banner-sale{
    margin-top: 40px;
}
.title-product-sell h3{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
.list-product-sell{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.product-sell{
    position: relative;
    border-radius: 20px;
    margin: 0 25px;
}
.product-sell-image img{
    border-radius: 10px 10px 0 0;
}
.product-sell-bot{
    margin-top: -4px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.heart{
    position: absolute;
    top: 5%;
    right: 7%;
}
.heart i{
    font-size: 24px;
    color: white;
    opacity: 0.9;
}

.fa-product-sell{
    position: relative;
}
.next-product{
    position: absolute;
    top: 50%;
    right: 0.7%;
    font-size: 30px;
    padding: 5px;
    transform: translateY(-50%);
    background-color: rgba(240, 248, 255, 0.74);
    border-radius: 3px;
    cursor: pointer;
    z-index: 998;
}
.pre-product{
    z-index: 998;
    position: absolute;
    top: 50%;
    left: 0.7%;
    font-size: 30px;
    padding: 5px;
    transform: translateY(-50%);
    background-color: rgba(240, 248, 255, 0.74);
    border-radius: 3px;
    cursor: pointer;
}
.pre-product:hover{
    background-color: rgba(255, 0, 0, 0.599);
    color: white;
}
.next-product:hover{
    background-color: rgba(255, 0, 0, 0.599);
    color: white;
}
.product-sell-bot {
   padding: 10px 10px; 
}
.product-sell-bot h3{
    font-size: 18px;
}
.product-sell-price{
    margin: 12px 0;
}
.product-sell-price p{
    font-size: 22px;
    color: red;
    font-weight: bold;
}
.see-more{
    text-align: center;
    padding-bottom: 20px;
}
.see-more a{
    text-decoration: none;
    font-size: 20px;
}
.title-more{
    width: 180px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px 10px;
}
.title-more a{
    color: var(--black-color);
    font-weight: bold;
}
.container-4{
    margin-top: 60px;
}
.box-category-man{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(233, 232, 232, 1);
}
.title-category-man{
    padding: 10px 20px;
    background-color: rgba(183, 183, 183, 1);
    border-radius: 7px 7px 0 0;
}

.title-category-man h3{
    font-size: 23px;
}
.product-man{
    text-decoration: none;
    color: black;
    width: 16%;
    margin: 20px 28px;
    background-color: white;
    border-radius: 7px;
    position: relative;
}
.product-man-image{
    max-width: 300px;
}
.product-man-image img{
    border-radius: 7px 7px 0 0;
    width: 100%;
}
.heart-man{
    position: absolute;
    top: 4%;
    right: 6%;
    color: white;    
    opacity: 0.9;
}
.heart-man i{
    font-size: 24px;
}
.product-man-content h3{
    font-size: 17px;
}
.product-man-content{
    padding: 7px 10px;
}
.product-man-dis{
    padding: 0 10px;
}
.product-man-price p{
    color: rgb(255, 0, 0);
    font-weight: bold;
    padding: 7px 10px 20px;
    font-size: 18px;
}

.container-woman{
    margin-top: 50px;
}
footer{
    margin-top: 50px;
    background-color: var(--black-color);
    max-width: 100%;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}
.container-footer h3{
    font-size: 22px;
    color: white;
}
.facebook,.instagram,.youtube{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.facebook img{
    border-radius: 50%;
    width: 100%;
}
.facebook-image{
    max-width: 60px;
    margin-right: 15px;
}
.instagram img{
    width: 100%;
}
.instagram-image{
    max-width: 60px;
    margin-right: 15px;
}
.youtube img{
    width: 100%;
}
.youtube-image{
    max-width: 60px;
    margin-right: 15px;
}
.container-footer a{
    text-decoration: none;
    font-size: 21px;
    color: rgb(233, 233, 233);
    font-family: sans-serif;
}
.container-footer a:hover{
    color: red;
    transition: 1s ease-in-out;
}
.service-content{
    margin-top: 20px;
    line-height: 40px;
    margin-left: 10px;
}
.connect-content{
    margin-left: 10px;
}
.pay-content{
    margin-top: 20px;
}
.vnpay{
    margin: 20px 0;
}
.pay-content{
    margin-left: 15px;
}
.transport-content{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tb{
    text-align: center;
    margin-top: 20px;
}
.container-login{
    margin-top: 50px;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 45px 0;
    max-width: 800px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.login{
    width: 100%;
}
.login h2{
    margin: 0 auto;
    max-width: 160px;
    background-color: var(--yellow-color);
    border-radius: 15px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.user{
    margin: 40px 10px 0 50px;
}
.pass{
    margin: 30px 10px 20px 50px;
}
.user,.pass p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}
.pass input{
    width: 91%;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.user input{
    margin-top: 5px;
    width: 91%;
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 10px;
}
.showpass{
    margin-left: 60px;
    margin-top: -15px;
}
.showpass input{
    margin-top: 5px;
    width: 20px;
}
.btn-login{
    text-align: center;
    margin-top: 30px;
}
.btn-login button{
    padding: 15px 24px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: wheat;
    font-weight: bold;
    cursor: pointer;
}
.btn-login button:hover{
    color: rgb(35, 35, 35);
    background-color: rgb(250, 179, 46);
    transition: .7s ease-in-out;
}
.container-directional{
    margin-top: 76px;
    background-color: rgb(240, 240, 240);
    height: 35px;
    line-height: 35px;
}
.directional a{
    text-decoration: none;
    color: black;
}
.list-category-fa{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.list-category-fa ul{
    display: flex;
    flex-wrap: wrap;
}
.list-category-fa ul li{
    list-style: none;
    padding: 10px 20px;
}
.list-category-fa ul li a{
    text-decoration: none;
    font-size: 17px;
    color: var(--black-color);
    font-weight: bold;
    font-family: sans-serif;
}
.list-category-children-image{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.list-category-children{
    max-width: 100%;
}
.categry-children-image{
    width: 10%;
}
.categry-children-image img{
    padding: 10px;
    width: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.list-product-all{
    background-color: rgb(243, 243, 243);
}
.list-product-max{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list-product{
    background-color: rgb(255, 255, 255);
    width: 18%;
    margin: 15px 0;
    position: relative;
    text-decoration: none;
    border-radius: 10px;
}
.list-product-image{
    max-height: 256px;
    max-width: 350px;
}
.list-product-image img{
    border-radius: 10px 10px 0 0;
    height: 256px;
    width: 100%;
}
.list-product-price{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.list-product-content{
    color: var(--black-color);
}
.list-product-dis{
    color: rgb(74, 74, 74);
    margin: 10px 0;
}
.list-product-bot{
    margin: 5px 0 10px 10px;
}
.list-product-content{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.confim-pass{
    margin-top: 20px;
}
.phone-email{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.phone{
    width: 37%;
    margin-left: 10px;
}
.phone input{
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 10px;
}
.email{
    width: 37%;
    margin-right: 30px;
}
.email input{
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 10px;
    
}
.email,.phone{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
.image-contai{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.image input{
    display: none;
}
.showimage{
    width: 30%;
    margin-right: 90px;
}
.showimage img{
    width: 100%;
}
.image{
    margin-left: 44px;
    width: 30%;
}
.image p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 8px;
}
.image label i{
    font-size: 50px;
    margin-top: 20px;
}
.image label{
    margin-left: 140px;
}
.showimage img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.account_image{
    border-radius: 50%;
    width: 40px;
}
.name_account{
    padding-left: 10px;
}

/* Điều hướng header */
.function{
    position: relative;
    padding: 18px 0;
}
.admini{
    display: none;
    background-color: rgb(240, 240, 240);
    top: 100%;
    position: absolute;
    left: -20%;
}
.admini ul{
    width: 229px;
    display: flex;
    flex-wrap: wrap;
}
.admini ul li{
    padding: 8px 10px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.admini ul li:hover{
    transition: .5s ease-in-out;
    background-color: var(--yellow-color);
}
.admini ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
}
.function:hover .admini{
    display: block;
}

.account{
    position: relative;
    cursor: pointer;
    padding: 26px 0;
}
.login-regis{
    display: none;
    background-color: rgb(240, 240, 240);
    top: 100%;
    position: absolute;
}
.login-regis ul{
    width: 190px;
    display: flex;
    flex-wrap: wrap;
}
.login-regis ul li{
    padding: 8px 10px;
    cursor: pointer;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.login-regis ul li:hover{
    transition: .5s ease-in-out;
    background-color: var(--yellow-color);
}
.login-regis ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
}
.account:hover .login-regis{
    display: block;
}

/* End điều hướng header */

/* Phần chi tiết sản phẩm */
.product-detal-image{
    text-align: center;
    width: 40%;
}
.product-detal-content{
    width: 40%;
}
.image-detal{
    text-align: center;
}
.product-detal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-top: 50px;
}
.image-detal-chidrent{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.image-detal-chidrent{
    width: 100%;
}
.image-chidrent{
    max-width: 210px;
}
.image-chidrent img{
    width: 100%;
    border-radius: 30px;
}
.image-detal img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.product-detal-content{
    margin-left: -100px;
}
.product-detal-title{
    margin-top: 10px;
}
.soluong{
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.product-detal-title h3{
    font-size: 25px;
    font-weight: bold;
    font-size: 25px;
    /* color: red; */
    font-family: sans-serif;
}
.product-detal-price{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.product-detal-price-sell{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 15px;
    font-size: 20px;
}
.product-detal-price-tree{
    font-weight: bold;
    font-family: sans-serif;
}
.product-detal-parameter{
    margin: 10px 0;
    font-family: sans-serif;
    line-height: 30px;
}
.percent{
    background-color: var(--yellow-color);
    border-radius: 5px;
    padding: 4px 3px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 17px;
}
.product-detal{
    background-color: rgba(249, 249, 249, 0.673);
}

.product-detal-servis{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.mpgh, .doitra, .chihang{
    text-align: center;
}
.mpgh-image{
    max-width: 100px;
}
.mpgh-image img{
    width: 100%;
}
.doitra-image{
    max-width: 80px;
}
.doitra-image img{
    width: 100%;
}
.chihang-image{
    max-width: 90px;
}
.chihang-image img{
    width: 100%;
}
.shopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.cart{
    width: 48%;
}

.tragop,.cart {
    width: 48%;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient( rgba(0,0,0,1) 0%, rgba(40,40,47,1) 38%, rgba(60,60,60,1) 67%, rgba(84,86,87,1) 100%);
    border-radius: 7px;
    color: var(--yellow-color);
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 19px;
}

.buynow{
    display: block;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(0deg, rgba(246,255,0,1) 0%, rgb(255, 252, 45) 38%, rgb(252, 252, 90) 60%, rgb(240, 255, 126) 76%, rgba(255,255,173,1) 100%);
    border-radius: 7px;
    margin-top: 20px;
    text-align: center;
    color: var(--black-color);
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 26px;
}


/* Trang giỏ hàng */

.list-product-cart{
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.image-product-cart{
    max-width: 250px;
}
.image-product-cart img{
    width: 100%;
    border-radius: 20px;
}
.tk-cart{
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.tk-cart p{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 23px;
}
.tk-cart i{
    font-size: 40px;
    margin-right: 10px;
    color: red;
}
.product-cart{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
}
.image-product-cart{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 20px;
}
.name-product-cart{
    margin: 20px 30px;
    font-size: 22px;
    font-family: sans-serif;
}
.quantity-product-cart{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.content-product-cart{
    width: 69%;
}
.list-all-dh{
    display: flex;
    justify-content: space-between;
}
.deleteall{
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.deleteall a button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: red;
    color: white;
}
.deleteall a button:hover{
    background-color: #f9f500;
    color: black;
    transition: .5s ease-in-out;
}
.ct-quantity{
    display: flex;
}
.tongdonhang{
    color: red;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.pri-quantity{
    margin-left: 50px;
}
.ct-quantity p{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
}
.ct-quantity button{
    padding: 5px 10px;
    cursor: pointer;
}
.price-product-cart{
    font-size: 24px;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}
.delete-cart{
    margin-top: 100px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 40px;
}
.form-kh{
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.form-kh h2{
    margin: 10px 20px 0px 10px;
}
.form-kh-in{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 17px;
}
.form-kh-input{
    text-align: center;
    margin-top: 10px;
}
.form-kh-input-radio{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
    line-height: 50px;
    border-radius: 10px;
    font-size: 17px;
    margin:0 auto;
}
.form-kh-button{
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
.form-kh-button h4{
    font-size: 30px;
    padding-top: 5px;
}
.form-kh-but{
    cursor: pointer;
    width: 79%;
    line-height: 30px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0,214,255,1) 0%, rgba(0,0,1,1) 0%, rgba(0,0,0,1) 67%, rgba(16,2,252,1) 100%);

    color: aliceblue;
}
.form-kh-butt{
    width: 79%;
    line-height: 30px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0,214,255,1) 0%, rgba(0,0,255,1) 33%, rgba(0,0,0,1) 100%, rgba(16,2,252,1) 100%);
    color: aliceblue;
}
.slide-category{
    position: relative;
    width: 300px;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 998;
}
.list-category-header i{
    font-size: 30px;
}
.list-category-header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}
.container-dm-children{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chuchay{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 30px;
    font-size: 20px;
}
.menu-category{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
}
.menu-category ul li{
    list-style: none;
}
.menu-category ul li a{
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    color: black;
    border: 0.5px solid black;
    font-weight: bold;
}
.menu-category ul li a:hover{
    background-color: black;
    color: white;
    transition: .5s ease-in-out;
}
.comment-container{
    border: 1px solid #000;
    width: 30%;
    font-size: 20px;
    line-height: 40px;
    margin: 0 auto;
   border-radius: 8px;
   margin-inline-start: 17%;
}
.comment-radio{
   border-bottom: 1px solid #000;
   padding-left: 20px;
}
.comment-radio input{
    margin-right: 8px;
}
.comment-content{
    margin-inline-start: 17%;
    padding-bottom: 15px;
    
}
.comment-content h3{
    border: 1px solid rgb(0, 0, 0);
    width: 10%;
    line-height: 60px;
    background-color: #000;
    color: aliceblue;
    text-align: center;
    border-radius: 5px 10px;
}
.tabcontent {
    display: none;
}
.tabs{
    width: 75%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 0 10px;
}
.image_account{
    margin: 0 auto;
}
.account{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.tablinks {
    padding: 8px 16px;
    cursor: pointer;
}
.tablinks.active {
    background-color: #f9f500;
    border-radius: 10px;
}
/* .tab-content{
    background-color: aliceblue;
} */
.tab-content ul li{
    list-style: none;
    margin: 20px 10px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(240, 240, 240);
}
.tab-content ul{
    display: flex;
}
.tab-content ul li a{
    list-style: none;
    width: 100%;
    display: block;
}
.container-tt{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.image_account{
    max-width: 180px;
}
.image_account img{
    width: 100%;
    border-radius: 50%;
}
.content-1{
    display: flex;
    padding: 10px 20px;
}
.content-account{
    text-align: center;
}
.email-account{
    display: flex;
    font-size: 19px;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
}
.phone-account{
    display: flex;
    font-size: 19px;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}
.email-account i{
    font-size: 25px;
    color: rgb(130, 130, 130);
    margin-right: 8px;
}
.phone-account i{
    color: rgb(130, 130, 130);
    font-size: 29px;
    margin-right: 8px;
}
.name_accounts{
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}
.account button{
    background: linear-gradient(0deg, rgba(246,255,0,1) 0%, rgba(255,253,78,1) 32%, rgba(255,255,138,1) 58%, rgba(250,255,209,1) 80%, rgba(255,255,227,1) 100%);
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.cntt{
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    
}

.popup-content {
    position: relative;
    width: 40%;
    height: 50vh;
    background-color: #fff;
    border-radius: 20px;
}
.popup{
   padding: 20px;
    border-radius: 5px; 
}

.close {
    position: absolute;
    cursor: pointer;
    right: -12px;
    top: 3%;
}
.close i{
    font-size: 30px;
}

.capnhat-title{
    margin-top: 20px;
    background-color: var(--yellow-color);
    width: 220px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    margin: 30px auto;
}
.capnhattt form label{
    font-size: 18px;
    font-family: sans-serif;
}
.capnhattt form{
    padding: 20px;
}
.tt1{
    width: 45%;
}
.tt2{
    width: 45%;
}
.list1{
    display: flex;
    justify-content: space-around;
}
.capnhattt form input{
    width: 100%;
    margin:10px 5px;
    padding: 10px 10px;
    border-radius: 10px;
}
/* .images_ac{
    width: 100px;
    background-color: #000;
    height: 100px;
} */
.tt3{
    margin-left: 20px;
}
.images_ac i{
    margin-top: 8px;
    font-size: 40px;
}
.list2{
    display: flex;
    justify-content: space-between;
}
.image_acc{
    max-width: 150px;
}
.image_acc img{
    width: 100%;
}
.list3 button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f9f500;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.list3{
    text-align: center;
}

.changepassword{
    width: 600px;
    margin: 0 auto;
}
.changepassword form input{
    width: 100%;
    margin: 5px 10px;
    padding: 7px 10px;
    border-radius: 5px;
}
.changepassword label{
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}
.changepassword .forms{
    text-align: center;
    margin-top: 10px;
}
.forms button{
    padding: 7px 10px;
    border-radius: 8px;
}
