<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="image/image-gg.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/reponsive.css">
    <title>TD Watch</title>
</head>

<body>
    <div id="wrapper">
        <!-- Start header -->
        <div id="header">
            <nav class="container">
                <div class="logo">
                    <a href=""><img src="../image/logo.png" alt=""></a>
                </div>
                <div id="search">
                    <form action="" class="search-form">
                        <input placeholder="Tìm kiếm ở đây..." type="text">
                        <button id="icon-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="branch">
                    <i class="fa-solid fa-location-dot"></i>
                    <form action="">
                        <select>
                            <option value="0">Chọn chi nhánh</option>
                            <option value="1">Hà Nội</option>
                        </select>
                    </form>
                </div>
                <div id="menu">
                    <ul>
                        <li><i class="fa-solid fa-heart"></i><a href="">Yêu thích</a></li>
                        <li><i class="fa-solid fa-cart-shopping"></i><a href="">Giỏ hàng</a></li>
                        <li><i class="fa-solid fa-user"></i><a href="">Tài khoản</a></li>
                    </ul>
                </div>
                <div id="navbar" class="navbar">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>
        </div>
        <!-- Menu-repon -->
        <div id="load-menu">
            <div class="menu-repon">
                <div class="branch-repon">
                    <i class="fa-solid fa-location-dot"></i>
                    <form action="">
                        <select>
                            <option value="0">Chọn chi nhánh</option>
                            <option value="1">Hà Nội</option>
                        </select>
                    </form>
                </div>
                <div id="search-repon">
                    <form action="" class="search-form-repon">
                        <input placeholder="Tìm kiếm ở đây..." type="text">
                        <button id="icon-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="menu-reponsive">
                    <ul>
                        <li><i class="fa-solid fa-heart"></i><a href="">Yêu thích</a></li>
                        <li><i class="fa-solid fa-cart-shopping"></i><a href="">Giỏ hàng</a></li>
                        <li><i class="fa-solid fa-user"></i><a href="">Tài khoản</a></li>
                        <li><i class="fa-solid fa-list"></i><a href="">Danh mục</a>
                            <ul class="category-repon">
                                <li><a href="">Đồng hồ Casio</a></li>
                                <li><a href="">Đồng hồ Tsar Bomba</a></li>
                                <li><a href="">Đồng hồ Aries Gold</a></li>
                                <li><a href="">Đồng hồ Atlantic</a></li>
                                <li><a href="">Đồng hồ Philippe Auguste</a></li>
                                <li><a href="">Đồng hồ Citizen</a></li>
                                <li><a href="">Đồng hồ Orient</a></li>
                                <li><a href="">Đồng hồ Swatch</a></li>
                                <li><a href="">Đồng hồ Seiko</a></li>
                                <li><a href="">Đồng hồ Japan Brand</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="out-menu"></div>
        <!-- End Header -->
        
        <div class="container-login container">
            <div class="login">
                <h2>Đăng Ký</h2>
                <form action="" method="POST">
                    <div class="user">
                        <p>Username :</p>
                        <input type="text" name="username" placeholder="Nhập tên"><br>
                    </div>
                    <div class="pass">
                        <p>Password :</p>
                       <input type="password" name="password" id="password" placeholder="Nhập mật khẩu"><br> 
                    </div>
                    <div class="showpass">
                        <input id="showpass" type="checkbox">
                        <label for="">ShowPass</label>
                    </div>
                    <div class="confim-pass pass">
                        <p>ConfirmPass :</p>
                       <input type="password" name="password" id="password" placeholder="Nhập lại mật khẩu"><br> 
                    </div>
                    <div class="phone-email">
                        <div class="phone">
                            <p>Phone :</p>
                            <input type="number" name="password" placeholder="Nhập số điện thoại"><br>
                        </div>
                        <div class="email">
                            <p>Email :</p>
                            <input type="email" name="password" placeholder="Nhập email"><br> 
                        </div>
                    </div>
                    <div class="image-contai">
                        <div class="image">
                            <p>Thêm Ảnh</p>
                            <label for="imagedk" id="input"><i class="fa-solid fa-cloud-arrow-up"></i></label>
                            <input type="file" id="imagedk">
                        </div>
                        <div class="showimage">
                            <img src="" alt="" id="img">
                        </div> 
                    </div>
                    
                    <div class="btn-login">
                       <button type="submit" name="btn-login">Đăng Ký</button>
                    <p>Bạn đã có tài khoản <a href="">Đăng Nhập</a></p> 
                    </div>
                    
                </form>
            </div>
        </div>
    
        <footer>
            <div class="container-footer">
                <div class="service">
                    <div class="service-title">
                        <h3>HỖ TRỢ - DỊCH VỤ</h3>
                    </div>
                    <div class="service-content">
                        <p><a href="">Mua hàng trả góp</a></p>
                        <p><a href="">Tra cứu đơn hàng</a></p>
                        <p><a href="">Chính sách bảo hành</a></p>
                        <p><a href="">Chính sách bảo mật</a></p>
                        <p><a href="">Câu hỏi thường gặp</a></p>
                    </div>
                </div>
                <div class="connect">
                    <div class="connect-title">
                        <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                    </div>
                    <div class="connect-content">
                        <div class="facebook">
                            <div class="facebook-image">
                                <img src="../image/facebook.jpg" alt="">
                            </div>
                            <div class="facebook-content">
                                <a href="">Facebook</a>
                            </div>
                        </div>
                        <div class="instagram">
                            <div class="instagram-image">
                                <img src="../image/instagram.png" alt="">
                            </div>
                            <div class="instagram-content">
                                <a href="">Instagram</a>
                            </div>
                        </div>
                        <div class="youtube">
                            <div class="youtube-image">
                                <img src="../image/youtube.png" alt="">
                            </div>
                            <div class="youtube-content">
                                <a href="">Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pay">
                    <div class="pay-title">
                        <h3>THANH TOÁN</h3>
                    </div>
                    <div class="pay-content">
                        <div class="visa">
                            <img src="../image/visa.png" alt="">
                        </div>
                        <div class="vnpay">
                            <img src="../image/vnpay.png" alt="">
                        </div>
                        <div class="jcb">
                            <img src="../image/jcb.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="transport">
                    <div class="transport-title">
                        <h3>HÌNH THỨC VẬN CHUYỂN</h3>
                    </div>
                    <div class="transport-content">
                        <div class="ghn">
                            <img src="../image/ghn.png" alt="">
                        </div>
                        <div class="vnport">
                            <img src="../image/vnport.png" alt="">
                        </div>
                        
                    </div>
                    <div class="tb">
                        <img src="../image/tb.png" alt="">
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>